canvas {
    vertical-align: top;
}

.myParagraph:not(:first-child) {
    margin-top: 10px;
}

.ol-left ol {
    text-align: left;
}

.flexGroup {
    display: flex;
    flex-wrap: wrap;

    &.inline {
        display: inline-flex;
    }

    > div {
        flex-grow: 1;

        &.flexCenter {
            text-align: center;

            > div {
                display: inline-block;
            }
        }
    }
}

.optionsBar {
    border: 1px solid black;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;

    > div {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        &:not(:first-child) {
            border-left: 1px solid black;
        }

        &.active {
            background-color: #1f7cff;
        }
    }
}

#router {
    width: 100%;
    height: 100%;
}

#complicatedWires {
    table.wireChart {
        margin: auto;

        td {
            border: 1px solid black;
            text-align: center;
        }

        img {
            width: 30px;

            &.off {
                opacity: 0.1;
            }
        }

        .placeholder {
            width: 60px;
        }
    }

    .chartTitle {
        font-weight: bold;
        font-size: 18px;
    }
}

#mazes {
    .mazeMode {
        display: flex;
        justify-content: center;

        > div {
            width: 150px;
        }
    }

    .mazeSelector {
        cursor: pointer;

        .canvasWrap {
            display: inline-block;
            position: relative;

            .cover,
            .sel {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.3;
            }

            .sel {
                background-color: red;

                &.active {
                    background-color: green;
                }
            }

            &:hover .cover {
                background-color: blue;
            }
        }
    }
}

#simpleWires {
    .simpleGroup {
        display: flex;
        flex-wrap: wrap;

        > div {
            display: flex;
            flex-grow: 1;

            > div {
                flex-grow: 1;
                text-align: center;
                min-width: 100px;
            }
        }
    }

    .smallOpt {
        display: inline-block;

        > div > div {
            padding: 2px 5px;
        }
    }
}

#keypads {
    .symbol {
        position: relative;
        display: inline-block;

        img {
            border: 1px solid black;
        }

        div {
            text-align: center;
        }

        .cover {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.75;
            &.good {
                background-color: green;
            }

            &.bad {
                background-color: red;
            }
        }
    }

    .symbolContainer > .symbol {
        margin: 2px;
        margin-bottom: 10px;
    }

    .symbolLine {
        .symbol:not(:first-child) > img {
            border-left: 0;
        }

        &:not(:first-child) img {
            border-top: 0;
        }

        .symbol {
            cursor: pointer;
        }
    }
}
