canvas {
    vertical-align: top;
}

#router {
    width: 100%;
    height: 100%;
}

#complicatedWires {
    table.wireChart {
        margin: auto;

        td {
            border: 1px solid black;
            text-align: center;
        }

        img {
            width: 30px;

            &.off {
                opacity: 0.1;
            }
        }

        .placeholder {
            width: 60px;
        }
    }

    .chartTitle {
        font-weight: bold;
        font-size: 18px;
    }
}

.mazeSelector {
    cursor: pointer;

    .canvasWrap {
        display: inline-block;
        position: relative;

        &:hover .cover {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: blue;
            opacity: 0.3;
        }
    }
}

.learnPracticeBar {
    border: 1px solid black;
    margin-bottom: 5px;
    cursor: pointer;

    > div {
        display: inline-flex;
        width: 50%;
        height: 50px;
        justify-content: center;
        align-items: center;

        &:first-child {
            border-right: 1px solid black;
        }

        &.active {
            background-color: #1f7cff;
        }
    }
}
